
<div class="row mt-5">

    <div class="col-md-4 offset-md-4">

        <div class="card">

            <h3 class="text-center mt-3">Login</h3>

            <div class="card-body"> 

                <form action="" [formGroup]="authForm" (submit)="saveForm()">

                    <div class="mb-3">
                        <label for="title" class="form-label">User Name</label>
                        <input type="username" class="form-control" formControlName="username">
                    </div>

                    <div class="mb-3"> 
                        <label for="description" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>

                    <button type="submit" class="btn btn-success">
                      <span *ngIf="!registerMode">Login</span>
                      <span *ngIf="registerMode">Register</span>  
                    </button>

                    <br>

                    <div class="">
                        <span class="regLik" (click)="registerMode = true">Don't have an account ? Register here</span>
                    </div>

                </form>

            </div>
            
        </div>  

    </div>

</div>
