
<div class="row mt-5">

    <div class="col-md-4 offset-md-4">

        <div class="card">

            <h3 class="text-center mt-3">Sing Up</h3>

            <div class="card-body">

                <form action="" [formGroup]="authForm" (submit)="saveForm()">

                    <div class="mb-3">
                        <label for="title" class="form-label">First Name</label>
                        <input type="username" class="form-control" formControlName="firstname">
                    </div>

                    <div class="mb-3">
                        <label for="title" class="form-label">Last Name</label>
                        <input type="username" class="form-control" formControlName="lastname">
                    </div>


                    <div class="mb-3"> 
                        <label for="description" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>

                    <button type="submit" class="btn btn-success">
                        Sign Up 
                    </button>

                </form>

            </div>
            
        </div>  

    </div>

</div>
