
<div class="mt-5 offset-md-2">

    <div class="row d-flex align-items-center justify-content-center">

        <div class="col-md-4">

            <h3 class="text-center">Tour List</h3>

            <ul class="mt-5" *ngFor="let to of tours">
                <li>
                    <div class="card w-75">
                        <div class="card-body">
                          <h5 class="card-title">{{ to.name }}</h5>
                          <p class="card-text"></p>
                          <button class="btn btn-success" (click)="tourClicked(to)">Check Tour</button>
                        </div>
                      </div>
                </li>
            </ul>

        </div>    

        <div class="col-md-8">

            <app-tour-details [tour]="this.selectTour"></app-tour-details>
            
        </div>
    

    </div>
    
</div>







