
<div class="container mt-5">

    <div class="row">

        <div class="col-md-4">

            <h3>Agents List</h3>

            <ul>
                <li>
                    <div class="card w-75">
                        <div class="card-body">
                          <h5 class="card-title">Agent Name</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Check Check</a>
                        </div>
                      </div>
                </li>
            </ul>

        </div>

        <div class="col-md-8">

            <app-agent-details></app-agent-details>

        </div>

    </div>

    

</div>





